#loader_button, #run_grid_button {
	color: white;
	background-color: "#125510";
}
QLineEdit {
	color: white;
	background-color: "#125510";
}

QMainWindow {
	background-color: cornsilk;
}
#image_label, #width_label, #height_label, #default_frame_time_label {
	color:black;
}
#labels_ui {
	background-color: yellow;
}
